[submodule "cryptominisat"]
	path = cryptominisat
	url = https://github.com/ziqiaozhou/cryptominisat.git
[submodule "chipyard"]
	path = chipyard
	url = https://github.com/ziqiaozhou/chipyard.git
[submodule "yosys"]
	path = yosys
	url = https://github.com/ziqiaozhou/yosys.git
